<div *ngIf="shipment">
  <h2>{{ shipment.shipmentNumber }}</h2>
  <p>Flight Number: {{ shipment.flightNumber }}</p>
  <p>Flight Date: {{ formatDate(shipment.flightDate) }}</p>

  <div *ngFor="let bag of shipment.bags">
    <div>
      Bag Number: {{ bag.bagNumber }}
      <p>{{ getBagType(bag) }}</p>
      <p>Total amount of items: {{ getTotalAmount(bag) }}</p>
      <p>Total price: {{ getTotalPrice(bag) }}</p>
      <p>Debug Info: {{ bag | json }}</p>
    </div>
  </div>
  <p>Status: {{ shipment.status === 2 ? 'Finalized' : 'Not Finalized' }}</p>
</div>
